body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-fixed-top {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
/*     z-index: 1; */
background: white;
}

.navbar-fixed-top.cbp-af-header-shrink {
padding: 10px 0;
}
